.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 5% 10%;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.name {
    font-size: 4rem;
    font-weight: 600;
    color: #26aae3;
}

.quotes {
    font-size: 1.75rem;
    font-weight: 300;
    color: #555;
    margin-top: 1rem;
    font-style: italic;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.text {
    font-size: 2.5rem; /* Reduced font size */
    font-weight: 400; /* Reduced font weight */
    color: #444; /* Slightly lighter color */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image {
    width: 40rem; /* Reduced width */
    height: 40rem; /* Reduced height */
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bio1,
.bio2,
.bio3 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #666;
    margin-top: 1rem;
}

.orbit {
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    animation: orbit-animation 10s infinite linear;
}

.orbit1 {
    width: 50rem;
    height: 50rem;
}

.orbit2 {
    width: 60rem;
    height: 60rem;
    animation-duration: 15s;
}

.orbit-object {
    width: 20px;
    height: 20px;
    background-color: rgb(126, 183, 254);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orbit-object1 {
    animation: orbit-object-animation1 10s infinite linear;
}

.orbit-object2 {
    animation: orbit-object-animation2 15s infinite linear;
}

@keyframes orbit-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbit-object-animation1 {
    from {
        transform: rotate(0deg) translate(25rem) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(25rem) rotate(-360deg);
    }
}

@keyframes orbit-object-animation2 {
    from {
        transform: rotate(0deg) translate(30rem) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(30rem) rotate(-360deg);
    }
}
